.productContainer {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  height: 200px;
  width: 100%;
  flex-grow: 2;
  background-color: rgb(245, 245, 245);
}

.infoContainer {
  flex-grow: 1;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.productImage {
  object-fit: contain;
  object-position: 50% top;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.productTitle {
  font-family: 'News Cycle';
  font-size: 1.5rem;
}

.productMeta {
  display: flex;
  line-height: 0.75rem;
  padding-top: 1.5rem;
}

.productCategory {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 0.5rem;
  padding-bottom: 1rem;
}

.productCost {
  font-size: 1.2rem;
  font-weight: 600;
  flex-grow: 1;
}

.productDescription {
  padding-top: 1rem;
}

.productDate {
  text-align: right;
  font-weight: 600;
  font-size: 0.9rem;
}

.imagePreviewContainer {
  position: absolute;
  left: 0;
  padding: 5vh 5vw;
  background-color: rgba(40, 40, 40, 0.9);
  z-index: 99;
  display: flex;
}

@media only screen and (min-width: 500px) {
  .imageContainer {
    height: 300px;
  }
}
@media only screen and (min-width: 700px) {
  .imageContainer {
    height: 400px;
  }
}

@media only screen and (min-width: 900px) {
  .imageContainer {
    height: 500px;
  }
}

@media only screen and (min-width: 1100px) {
  .productContainer {
    flex-direction: row;
  }

  .infoContainer {
    padding: 0 2rem;
  }
}
