/* Main template styles */
.main-content {
  min-height: 100vh;
}

/* Add a black background color to the navigation bar */
.topnav {
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  
}

/* Change the color of navigation links on hover */
    .topnav a:hover, .subnav:hover .subnavbtn {
        background-color: #ddd;
        color: black;
    }

/* Add a color to the active/current link in navigation bar */
    .topnav a.active {
        background-color: lightgrey;
        color: white;
    }

/* accountnav styles */
.accountnav {
  float: left;
  overflow: hidden;
  left: 800px;
}

/* accounticon styles */
.accounticon {
  object-fit: cover;
  width: 30px;
  height: 30px;
}

/* Sub navigation styles */
.subnav {
    float: left;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
}

    .subnav .subnavbtn {
        font-size: 20px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
    }

.subnav-content {
    display: none;
    position: absolute;
    width: auto;
    height: 500px;
    overflow-x: scroll;
    border-style: solid;
    border-width: thin;
    z-index: 999;
    color: black;
    font-size: 20px;
    background-color: ghostwhite;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;

}

    .subnav-content option:hover {
       background-color: lightslategray;
       cursor: pointer;
    }

.subnav:hover .subnav-content {
    display: block;

}

/* Header styles */
.cover {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.coverphoto {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.coverphototext {
  font-size: 60px;
  font-family: 'Overlock', cursive;
  color: #D77215;
  text-align: center;
  font-weight: bolder;
  line-height: 62px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

/* Footer styles */
.footer {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.footerphoto {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footerphototext {
  font-size: 15px;
  font-family: Montaga;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

.instagramicon {
  width: 48px;
  height: 48px;
  margin: 10px;
}

.facebookicon {
  width: 48px;
  height: 48px;
  margin: 10px;
}

.twittericon {
  width: 48px;
  height: 48px;
  margin: 10px;
}


/*About page */

.about {
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

img {
    max-width: auto;
}

.aboutcontainer {
    height: 800px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 150px;
}

.aboutphoto1 {
    height: 600px;
    width: 400px;
    justify-content: center;
}
.abouttext1 {
    height: 400px;
    justify-content: center;
}
.aboutname {
    font-family: 'Nunito Sans', sans-serif;
}
.abouttitle1 {
    font-size: 35px;
    justify-content: center;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

.aboutintrotext1 {
    font-size: 30px;
    justify-content: center;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}


@media screen and (max-width: 1080px) {
    .about {
        width: auto;
        height: auto;
        flex-direction: column;

    }
    .topnav{
      flex-direction: column;
    }
    .cover{
      width: 100%;
    }
    .coverphototext{
      font-size: 40px;
    }
    #sidebar {
        display: none;
    }
    
}