.div__insights{
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}

.div__innerRow{
    background-color: lightgray;
    width: 300px;
    height: 80px;
    border-radius: 00.5rem;
    align-self: center;
    margin: 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
}

.div__clicks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div__iconClick{
    padding-top: 5px;
    padding-right: 5px;
}


@media screen and (max-width: 700px) {
    div.div__insights {margin-left: 10px; margin-top: 10px; max-width: 300px; align-self: center; flex-direction: column;}
}