.container__right {
    background-color:white;
    text-align: center;
    width: auto;
    height: auto;
    /* width: 640px; */
    /* height: 500px; */
    margin: auto;
    padding: 10px 30px 30px 30px;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.div__outterOut {
    display: flex;
    /* background-color: brown; */
}

.div__outter{
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    /* width: 600px;
    height: 480px; */
}
.div__preview {
    /* background-color: purple; */
    text-align: left;
    
}

.div__details{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 100%;
}


.div__imgPreview{
    border-style: solid;
    border-color: lightgray;
    border-radius: 10px 0px 0px 10px;
    border-width: thin;
    height: 360px;
    width: 270px;
    align-items: center; 
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.img__preview {
    height: 70%;
    width: 100%;
}

.div__des{
    display: flex;
    flex-direction: column;
    width: 380px;
    border-top-style: solid;
    border-top-color: lightgray;
    border-top-width: thin;
    border-radius: 0px 10px 10px 0px;
    border-right-style: solid;
    border-right-color: lightgray;
    border-right-width: thin;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: thin;
    /* height: 400px; */
    height:100%;
    /* justify-content: space-evenly; */
    text-align: left;
}

.h4__des{
    word-wrap:break-word;
    margin-left: 10px;
    
}

.btn__publish{
    align-self: flex-end;
}