
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color:beige;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.div__listings{
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    margin-left: 350px; /* Same as the width of the sidenav */
    font-size: 12px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.container__sideBarTopBtn{
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    div.div__listings {margin-left: 10px; margin-top: 10px; max-width: 300px; align-self: center;}
}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}